body {
	margin: 0;
	padding: 0;
	min-width: 1200px;
	font-family: 'Roboto', 'Arial', sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #000000;
	background-color: #ffffff;
}

a {
	text-decoration: none;
}

img {
	width: 100%;
	height: auto;
}

.main-header {
	width: 100%;
	padding-top: 50px;
	background-color: #eeeeee;
}

.container {
	width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
	box-sizing: border-box;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/*.inner-page {
	display: flex;
	flex-direction: column;
}*/

.main-navigation {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	font-size: 16px;
	line-height: 30px;
	text-transform: uppercase;
}

.header-logo {
	width: 160px;
	height: 65px;
	margin-right: 200px;
}

.header-logo:hover,
.header-logo:focus {
	opacity: 0.8;
}

.header-logo:active {
	opacity: 0.3;
}

.site-navigation,
.user-navigation {
	margin: 0;
	margin-top: 15px; 
	padding: 0;
	list-style: none;
}

.site-navigation a,
.user-navigation a {
	display: block;
	padding-bottom: 3px;
	vertical-align: middle;
	color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
	color: #fb565a;
}

.site-navigation a:active,
.user-navigation a:active {
	color: rgba(0, 0, 0, 0.3);
}

.site-navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	width: 440px;
	margin-right: auto;
}

.site-navigation .active {
	position: relative;
}

.site-navigation .active::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: #fb565a;
}

.user-navigation {
	display: flex;
	max-width: 140px;
}

.user-navigation .login-link {
	position: relative;
	padding-left: 50px;
}

.login-link::before {
	content: "";
	position: absolute;
	top: 7px;
	left: 11px;
	width: 15px;
	height: 15px;
	background-image: url(../img/cart-icon.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.slider {
	position: relative;
	background-color: #eeeeee;
}

.slider-controls {
	position: absolute;
	left: 50%;
	bottom: 104px;
	z-index: 100;
	width: 160px;
	height: 18px;
	text-align: center;
	font-size: 0;
	transform: translateX(-50%);
}

.slider-controls label {
	position: relative;
	display: inline-block;
	width: 18px;
	height: 18px;
	padding: 8px;
	border-radius: 50%;
	cursor: pointer;
}

.slider-controls label::after {
	content: "";
	position: absolute;
	top: 8px;
	left: 8px;
	z-index: 1;
	width: 18px;
	height: 18px;
	background-color: #ffffff;
	border-radius: 50%;
}

.slider-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.slider-item {
	display: none;
	padding: 78px 0 80px 0;
}

.slider-item:nth-child(1) {
	background-image: url(../img/slide1.png);
	background-repeat: no-repeat;
	background-position: 93% 18px;
}

.slider-item:nth-child(2) {
	background-image: url(../img/slide2.png);
	background-repeat: no-repeat;
	background-position: 100% 0;
}

.slider-item:nth-child(3) {
	background-image: url(../img/slide3.png);
	background-repeat: no-repeat;
	background-position: 100% 20px;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
	display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
	display: block;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
	display: block;
}

#product-1:checked ~ .slider-controls .slider-control-item-1::before,
#product-2:checked ~ .slider-controls .slider-control-item-2::before,
#product-3:checked ~ .slider-controls .slider-control-item-3::before {
	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 2;
	width: 4px;
	height: 4px;
	margin: -4px;
	background-color: inherit;
	border: 2px solid #c1c1c1;
	border-radius: 50%;
}

.slider-item h3 {
	max-width: 600px;
	margin: 0;
	margin-bottom: 27px;
	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
}

.slider-item p {
	max-width: 430px;
	margin: 0;
	margin-bottom: 38px;
}

.page-title {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 240px;
	background-color: #eeeeee;
}

.page-title h1 {
	margin: 0;
	margin-top: 75px;
	padding: 0;
	font-size: 55px;
	font-weight: 500;
	line-height: 55px;
}

.button {
	display: block;
	width: 240px;
	padding: 15px 0;
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;
	background-color: #fb565a;
	border-radius: 3px;
	border: none;
}

.button:hover,
.button:focus {
	background-color: #e74246;
}

.button:active {
	color: rgba(255, 255, 255, 0.3);

	background-color: #d7373b;
	box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.product-list {
	display: flex;
	flex-direction: row;
	margin: 0;
	padding: 80px 0;
	border-bottom: 2px solid #eeeeee;
	list-style: none;
}

.product-list li {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 300px;
	margin-right: 100px;
}

.product-list h3 {
	margin: 0;
	padding: 26px 0 16px 0;
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
}

.product-list img {
	order: -1;
	width: 300px;
	height: 146px;
}

.product-list p {
	margin: 0;
	margin-bottom: 31px;
	padding: 0;
	max-width: 260px;
}

.product-list .button {
	width: 160px;
	padding: 16px 0;
}

.product-list .button-web {
	background-color: #fb565a;
}

.product-list .button-web:hover,
.product-list .button-web:focus {
	background-color: #e74246;
}

.product-list .button-web:active {
	color: rgba(255, 255, 255, 0.3);

	background-color: #d7373b;
	box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.product-list .button-apps {
	background-color: #00ca74;
}

.product-list .button-apps:hover,
.product-list .button-apps:focus {
	background-color: #00bc6c;
}

.product-list .button-apps:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #00aa62;
	box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.product-list .button-presentation {
	background-color: #efc84a;
}

.product-list .button-presentation:hover,
.product-list .button-presentation:focus {
	background-color: #eab534;
}

.product-list .button-presentation:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #e5a722;
	box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.about-column {
	display: flex;
}

.about-description {
	width: 660px;
}

.lead {
	font-size: 45px;
	font-weight: 500;
	line-height: 45px;
}

.order {
	font-weight: 700;
	text-transform: uppercase;
}

.order-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.about-stats {
	width: 360px;
	margin-left: auto;
}

.stats caption {
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
}

.row-1 {
	font-size: 45px;
	font-weight: 700;
	line-height: 10px;
}

.row-2 {
	line-height: 18px;
}

.partners {
	list-style: none;
}

.contacts-block span {
	font-weight: 700;
	line-height: 18px;
}

.contacts .button {
	background-color: #fb565a;
	border: none;
}

.catalog-columns {
	display: flex;
	padding: 58px 0;
}

.filters {
	width: 260px;
	margin-right: 140px;
}

.filter-item {
	margin: 0;
	margin-bottom: 53px;
	padding: 0;
	border: none;
}

.filter-item legend {
	font-size: 18px;
	line-height: 24px;
	text-transform: uppercase;
	font-weight: 700;
}

.range-filter {
	width: 260px;
	margin-top: 50px;
}

.range-controls {
	position: relative;
	height: 41px;
	margin-bottom: 15px;
	padding-top: 39px;
	padding-right: 20px;
	padding-left: 20px;
	background-color: #f1f1f1;
	border-radius: 5px;
}

.range-controls .scale {
	height: 2px;
	background-color: #d7dcde;
}

.range-controls .bar {
	width: 70%;
	height: 2px;
	background-color: #00ca74;
}

.range-controls .toggle {
	position: absolute;
	top: 31px;
	left: 0;
	width: 4px;
	height: 4px;
	padding: 0;
	border: 8px solid #ffffff;
	background-color: #ababab;
	box-shadow: 0 2px 1px 0 #cfcfcf;
	border-radius: 50%;
	cursor: pointer;
}

.range-controls .toggle-min {
	left: 18px;
}

.range-controls .toggle-max {
	left: 160px;
}

.price-controls {
	font-size: 0;
}

.price-controls label {
	display: inline-block;
	width: 50%;
	font-size: 16px;
	text-transform: uppercase;
}

.price-controls input {
	width: 60px;
	margin-left: 10px;
	padding: 8px 10px;
	font: inherit;
	text-align: center;
	color: #283136;
	border: none;
	border-radius: 5px;
	background-color: #f1f1f1;
}

.price-controls .max-price {
	text-align: right;
}

.filter fieldset {
	margin: 0;
	margin-bottom: 25px;
	padding: 0;
	border: none;
}

.filter fieldset:nth-child(2) {
	margin-bottom: 30px;
}

.filter legend {
	margin-bottom: 15px;
	font-size: 18px;
	font-weight: 700;
	line-height: 30px;
	text-transform: uppercase;
}

.filter ul {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: 20px;
}

.filter-option {
	margin-bottom: 20px;
	padding-left: 38px;
}

.filter-option label {
	position: relative;
	display: block;
	cursor: pointer;
}

.filter-input:hover + label,
.filter-input:focus + label {
	color: #000000;
}

.filter-input:disabled + label {
	color: #000000;
	opacity: 0.3;
}

.filter-input-radio:checked + label::before {
	content: "";
	position: absolute;
	top: -3px;
	left: -37px;
	width: 25px;
	height: 25px;
	background-image: url(../img/radio-on.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.filter-input-radio + label::before {
	content: "";
	position: absolute;
	top: -3px;
	left: -37px;
	width: 25px;
	height: 25px;
	background-image: url(../img/radio-off.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.filter-input-checkbox:checked + label::before {
	content: "";
	position: absolute;
	top: -2px;
	left: -37px;
	width: 25px;
	height: 25px;
	background-image: url(../img/checkbox-on.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.filter-input-checkbox + label::before {
	content: "";
	position: absolute;
	top: -2px;
	left: -37px;
	width: 25px;
	height: 25px;
	background-image: url(../img/checkbox-off.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.filter-input-radio:checked + label::before,
.filter-input-radio + label::before,
.filter-input-checkbox:checked + label::before,
.filter-input-checkbox + label::before {
	opacity: 0.4;
}

.filter-input-radio:not(:disabled):hover + label::before,
.filter-input-checkbox:not(:disabled):hover + label::before,
.filter-input-radio:not(:disabled):focus + label::before,
.filter-input-checkbox:not(:disabled):focus + label::before {
	opacity: 1;
}


.filter-button {
	width: 260px;
	color: #000000;
	background-color: #eeeeee;
	border: none;
}

.filter-button:hover,
.filter-button:focus {
	background-color: #dfdfdf;
}

.filter-button:active {
	color: rgba(0, 0, 0, 0.3);
	background-color: #d5d5d5;
}

.sort {
	display: flex;
	justify-content: space-between;
}

.sort-title {
	margin: 0;
	margin-bottom: 57px;
	padding: 0;
	font-size: 18px;
	line-height: 18px;
	font-weight: 700;
	text-transform: uppercase;
}

.sort-controls {
	width: 360px;
}

.sort-list {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
}

.sort-list li {
	color: rgba(0, 0, 0, 0.3);
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
}

.sort-list a {
	color: rgba(0, 0, 0, 0.3);
}

.sort-list a:hover,
.sort-list a:focus {
	color: rgba(0, 0, 0, 0.6);
}

.sort-list a:active {
	color: #000000;
}

.product {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	list-style: none;
}

.product-item {
	position: relative;
	width: 360px;
	margin: 0;
	margin-bottom: 28px;
	padding: 0;
}

.product-description {
	display: none;
	position: absolute;
	right: 0;
	bottom: 0;
	width: 240px;
	height: 165px;
	padding: 35px 60px 40px;
	text-align: center;
	background-color: #eeeeee;
}

.product-item:hover .product-description,
.product-item:focus .product-description {
	display: block;
}

.product-item:hover {
	box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.25);
}

.product-title {
	color: #000000;
}

.product-title:hover,
.product-title:focus {
	color: #d7373b;
}

.product-title:active {
	color: rgba(0, 0, 0, 0.3);
}

.product-title h3 {
	margin: 0;
	margin-bottom: 10px;
	padding: 0;
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
}

.product-description p {
	margin-bottom: 25px;
	padding: 0;
	line-height: 18px;
}

.product-description .button {
	margin: 0 auto;
	width: 200px;
	color: #ffffff;
	background-color: #fb565a;
}

.product-description .button:hover,
.product-description .button:focus {
	background-color: #e74246;
}

.product-description .button:active {
	background-color: #d7373b;
}

.product-item img {
	padding-top: 39px;
	width: 360px;
	height: 576px;
}

.product-item::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 360px;
	height: 47px;
	background-image: url(../img/browser.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.12;
}

.product-item:hover::after {
	opacity: 1;
}

.pagination-list {
	display: flex;
	padding: 0;
	list-style: none;
}

.pagination-list li {
	margin-right: 11px;
}

.pagination-list a {
	line-height: 18px;
	font-weight: 500;
	color: #000000;
	text-transform: uppercase;
	background-color: #eeeeee;
}

.pagination-list a:hover,
.pagination-list a:focus {
	background-color: #dfdfdf;
}

.pagination-list a:active {
	color: rgba(0, 0, 0, 0.3);
	background-color: #d5d5d5;
}

a.current-page{
	background-color: #ffffff;
	border: 2px solid #dbdbdb;
}

.main-footer .container {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 70px 20px;
}

.footer-social {
	display: flex;
	width: 260px;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 0;
	margin-right: 140px;
	padding: 0;
	list-style: none;
}

.social-button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80px;
	height: 80px;
	background-color: #e1e1e1;
	border-radius: 50%;
}

.social-button:hover,
.social-button:focus {
	background-color: #e74246;
}

.social-button:active {
	background-color: #d7373b;
	box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.social-button:active path {
	opacity: 0.3;
}

.discount p {
	margin: 0;
	padding: 0;
	font-size: 36px;
	line-height: 36px;
	font-weight: 700;
}

.discount p:nth-child(2) {
	margin-top: 12px;
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
}

.modal {
	display: none;
	position: fixed;
	left: 50%;
	top: 50%;
	margin-left: -480px;
	margin-top: -294px;
	width: 760px;
	padding: 60px 100px;
	background-color: #ffffff;
	box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.75);
}

.modal h2 {
	margin: 0;
	margin-bottom: 14px;
	padding: 0;
	font-size: 45px;
	line-height: 45px;
}

.form-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.form-item {
	display: flex;
	flex-direction: column;
	width: 360px;
	margin: 0;
	margin-top: 36px;
}

.form-item label {
	margin-bottom: 12px;
	line-height: 18px;
	font-weight: 700;
}

.form-item input,
.form-item textarea {
	box-sizing: border-box;
	padding-top: 16px;
	padding-right: 14px;
	padding-left: 14px;
	padding-bottom: 20px;
	font: inherit;
	border: 2px solid #d7dcde;
	border-radius: 5px;
}

.form-item textarea {
	width: 760px;
	min-height: 118px;
}

.form-item input:hover,
.form-item textarea:hover {
	border-color: #b4b9bb;
}

.form-item input:focus,
.form-item textarea:focus {
	border-color: #000000;
	outline: none;
}

.form-button {
	margin-top: 47px;
	width: 260px;
}

.modal-close {
	position: absolute;
	top: 80px;
	right: 90px;
	width: 21px;
	height: 21px;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.modal-close svg {
	position: absolute;
	top: 0;
	left: 0;
}

.modal-close path {
	opacity: 0.3;
}

.modal-close:hover path,
.modal-close:focus path {
	opacity: 1;
}

.modal-close:active path {
	opacity: 0.1;
}


